<div class="todos-wrapper">
    <!-- container to hold the todo items -->
    <div class="container">
        <div class="todo-item completed">
            <div class="check-box">
                <!-- puts check mark in code -->
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">This is the todo text</p>
        </div>
        
        <div class="todo-item">
            <div class="check-box">
                <!-- puts check mark in code -->
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, voluptatum? Sit error laboriosam, corporis porro et in nihil eum sequi molestiae, laborum exercitationem qui amet dignissimos vel harum placeat nisi!</p>
        </div>
        
    </div>
</div>


