<!-- Creating the bookmarks UI -->
<div class="bookmarks-wrapper">
  <div class="container">
    <div class="bookmark-tiles-container">
        <!-- shortcut to quickly move lines of code: highlight code => alt => arrow up or down -->
         <!-- Automatically adds more tiles when you add <app-bookmark-tile></app-bookmark-tile> -->
      <app-bookmark-tile></app-bookmark-tile>                              
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
    </div>
  </div>
</div>
