.bookmarks-wrapper{
    height: 100%;
    overflow-y: auto;               //auto adds scroll bar only if there is a overflow
}

.bookmark-tiles-container{
    //moves favicon.ico next to one another
    display: flex;
    gap: 20px;
    //centering the bookmark-tiles
    justify-content: center;
    // to contain overflow of tiles
    flex-wrap: wrap;
}

